@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4.75fr;
    height: 100%;
}

.header {
    grid-column: 2 / 3;
}

/* Sidebar */
.sidebar {
    background-color: #1992d4;
    display: grid;
    grid-row: 1 / 3;
    align-items: start;
    align-content: start;
    /* padding-top: 25px; */
    /* grid-template-rows: 1fr 3fr 3fr; */
    row-gap: 50px;
}

.sidebar > * {
    /* border: 2px solid red; */
    padding-top: 25px;
}

.sidebar-first, .sidebar-second {
    background-color: #1992d4;
    display: grid;
    grid-auto-rows: 1.5rem;
    row-gap: 25px;
}

.article {
    grid-column: 2 / 3;
    background-color: #e2e8f0;
}

.dashboard-text {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 1fr 2.94fr;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    grid-auto-rows: 2rem;
    align-items: center;
    cursor: pointer;
}

.dashboard-tab {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 1fr 2.95fr;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    grid-auto-rows: 1.5rem;
    cursor: pointer;
    align-items: center;
    align-content: center;
    padding: 25px 0px;
}

/* Darker on hover */
.dashboard-tab:hover {
  background-color: #147bb3;
}

/* Lighter when clicked or held */
.dashboard-tab:active {
  background-color: #1a9de4;
}

.dashboard-icon {
    height: 100%;
    filter: brightness(0) invert(1);
    justify-self: center;
}

.dashboard-logo {
    height: 175%;
    filter: brightness(0) invert(1);
    justify-self: center;
}
